Makefile.inc
*.o
*.exe
*.sh
*.log
.vscode/*.json
mpi_recpar.pbs
mpi_recpar.pbs.o*
variables-ssp126.h
variables-ssp585.h
build
test/resources/correct_grid_T.ipynb
test/resources/correct_ptrc_T.ipynb
test/resources/HOTv420_1ts_20100101_20101231_grid_T.nc
test/resources/HOTv420_1ts_20100101_20101231_ptrc_T.nc
**.ipynb_checkpoints
